<section class="py-5 header">
  <div class="container py-4">
    <header class="text-center mb-5 pb-5 text-dark">
      <h1 class="display-4">ASB Football</h1>
      <h3 class="font-italic mb-1">List of players with goals</h3>
      <h4 class="mb-1">The list ist sorted by Number of Goals, Win and then Assits</h4>

    </header>

    <table class="table table-hover" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col">Nr.</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Win</th>
          <th scope="col">Goals</th>
          <th scope="col">Passes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joueur of playerResults; let i=index;">
          <td>{{i+1}}</td>
          <th scope="row">{{joueur.name }} &nbsp;&nbsp; <i class="fa fa-star text-success text-times" *ngIf="(i == 0)"></i> <i class="fa fa-star-half-o text-success text-times" *ngIf="(i == 1)"></i>  </th>
          <td>{{joueur.surname}}</td>
          <td>{{joueur.win}}</td>
          <td>{{joueur.goals}}</td>
          <td>{{joueur.passes}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
