/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}





/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*/
body {
  min-height: 100vh;
  background: linear-gradient(to left, #dce35b, #45b649);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .anyClass1 {
    height:300px;
    overflow-y: scroll;
  }

  .saison-detail {
    height: 300px;
    margin-top: -100px;
    margin-bottom: 60px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.anyClass1 {
  height:300px;
  overflow-y: scroll;
}

.saison-detail {
  height: 300px;
  margin-top: -100px;
  margin-bottom: 60px;
}
}


.anyClass {
  height:300px;
  overflow-y: scroll;
}

.anyClass1 {
  height:500px;
  overflow-y: scroll;
  background-color: #e6fde6;
}

.saison-detail {
  height: 500px;
  margin-top: -100px;
}

.small-date {
  font-size: 11px;
}

a {
  padding-bottom: 0px !important;
}
