<div class="tab-pane saison-detail fade shadow rounded bg-white show active" id="v-pills-home" role="tabpanel"
  aria-labelledby="v-pills-home-tab">
  <b class="select-saison">Select Match</b> &nbsp; <i class="fa fa-chevron-right" aria-hidden="true"></i>
  <div class="col-md-12 anyClass1"><br>
    <!-- Tabs nav -->
    <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link mb-3 p-3 shadow active" [ngStyle]="{'background-color': match.selected? '#45b649' : '', 'color': match.selected? 'white' : ''}" (click)="setMatch(match); changeColor(match.id)" id="v-pills-home-tab" data-toggle="pill"
        role="tab" aria-controls="v-pills-home" aria-selected="true" *ngFor="let match of matchs">
        <i class="fa fa-futbol-o" aria-hidden="true"></i> &nbsp;
        <span class="font-weight-bold small text-uppercase">{{match.name}}</span> &nbsp; &nbsp; <i *ngIf="signedIn" (click)="deleteMatch(match.id)" class="fa fa-trash text-danger mr-2"></i><br>
        <p class="small small-date"> {{match.startDate | date:"longDate"}} </p>
      </a>

    </div>
  </div>
</div>
