<div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home-1" role="tabpanel" aria-labelledby="v-pills-home-tab"  *ngIf="loaded">

<form [formGroup]="matchForm">

  <div class="form-row">
    <mat-form-field class="col-md-6" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControlName]="'name'" [readonly]="!signedIn">
      <mat-error *ngIf="matchForm.get('name')?.invalid">
        Le nom est <strong>obligatoire *</strong>.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-6" appearance="fill">
      <mat-label>Match Type</mat-label>
      <mat-select [formControlName]="'matchType'" [disabled]="!signedIn">
        <mat-option value="calcio"> Calcio </mat-option>
        <mat-option value="halle"> Halle </mat-option>
        <mat-option value="competition"> Compétition </mat-option>
      </mat-select>
      <mat-error *ngIf="matchForm.get('matchType')?.invalid">
        Le type est <strong>obligatoire *</strong>.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">

    <mat-form-field class="col-md-6" appearance="fill">
      <mat-label>Startdate</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker1" [formControlName]="'startDate'" [readonly]="!signedIn">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="10"
        [touchUi]="false" [disableMinute]="false" [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field class="col-md-6" appearance="fill">
      <mat-label>Enddate</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker" [formControlName]="'endDate'" [readonly]="!signedIn">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="10"
        [touchUi]="false" [disableMinute]="false" [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <br>
  <h2 class="d-flex justify-content-center" *ngIf="!adding">Players of the Day</h2>

  <table class="table table-hover" *ngIf="!adding">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Goals</th>
        <th scope="col">Passes</th>
        <th scope="col">Win</th>
        <th scope="col" *ngIf="signedIn" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let matchResult of matchResults">
        <th scope="row">{{matchResult.name}}  </th>
        <td>{{matchResult.surname}}</td>
        <td>{{matchResult.nombreButs}}</td>
        <td>{{matchResult.passesD}}</td>
        <td class="text-center"> <i class="fa fa-check text-success" *ngIf="matchResult.win"></i> <i class="fa fa-times text-danger text-times" *ngIf="!matchResult.win"></i> </td>
        <td *ngIf="signedIn" > <i class="fa fa-trash text-danger mr-2" (click)="deleteMatchResult(matchResult)"></i> &nbsp; &nbsp; <i class="fa fa-pencil-square-o text-danger mr-2" (click)="updateMatchResult(matchResult)"></i> </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn btn-outline-info" (click)="createMatch()"  *ngIf="adding && signedIn">Save</button> &nbsp; &nbsp; &nbsp;
    <button type="button" class="btn btn-outline-dark" (click)="createJoueurs(true)"  *ngIf="!adding && signedIn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Player's result</button> &nbsp;&nbsp;
  </div>

</form>
</div><br>
<button type="button" class="btn btn-outline-dark" (click)="createJoueurs(false)"  *ngIf="!adding && signedIn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new Player</button>
