form {
  height: 550px;
  padding: 5px;
  margin: -20px;
  overflow-y: scroll;
  /*border: 1px solid black;*/
}

.show {
  /*border: 1px solid black;*/
}

button {
  position: static;
}

.star-joueur {
  color: #45b649;
}

i {
  cursor: pointer;
}
