<div class="login-wrapper d-flex justify-content-center" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title><mat-icon class="mat-icon-accoun">account_circle</mat-icon> Sign in</mat-card-title><br><br>
    </mat-card-header>
    <form class="example-form" [formGroup]="form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
          <mat-hint>Input the fully qualified email address</mat-hint>
          <mat-error *ngIf="form.get('username')?.invalid">
            Le username est <strong>obligatoire *</strong>.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [type]="flag ? 'password' : 'text'" placeholder="Enter your password"
              formControlName="password">
          <mat-icon (click)="flag=!flag" matSuffix>{{ flag ? 'visibility' : 'visibility_off' }}
          </mat-icon>
          <mat-error>Password is required</mat-error>
          <mat-error *ngIf="(form.get('password'))?.invalid">
              Please enter more than 6 character
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="info" (click)="saveDetails()" class="btn-block">Sign in</button>
    </form>
  </mat-card>
</div>
