<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="success" class="toolbar">
  <mat-toolbar-row >
    <!-- <span>HOME</span> -->
    <span class="toolbar-content-left"><a routerLink="">Home</a></span>
    <span class="ml-3"><a routerLink="list-players-goals">Player's goals</a></span>
    <span class="spacer"></span>
    <!-- <a  mat-button routerLink="/register">Register</a> -->
    <a class="toolbar-content-right" *ngIf="!signedIn" mat-button routerLink="/login">Login</a>
    <a class="toolbar-content-right" *ngIf="signedIn" mat-button (click)="logout()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
