.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: #14A44D;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.toolbar-content-left {
  margin-left: 5%;
}

.toolbar-content-right {
  margin-right: 5%;
}
