<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> <b>Add new Player:</b></h4>
  <i class="fa fa-times" (click)="close('Cross click')"></i>
</div>

<div class="modal-body">

  <form [formGroup]="personForm" *ngIf="!existing" >
    <div class="form-row">
      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="personForm.get('name')?.invalid">
          Le nom est <strong>obligatoire *</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput [formControlName]="'surname'">
      </mat-form-field>
    </div>

    <div class="form-row">

<!--       <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'">
      </mat-form-field> -->

    </div>
  </form>

  <form [formGroup]="personForm" *ngIf="existing">
    <ng-container formArrayName="joueurs">
      <ng-container *ngFor="let joueur of joueurs.controls;let i = index">
          <ng-container [formGroupName]="i">
              <div class="form-row mt-3">

                <mat-form-field  appearance="fill" class="form-joueurs">
                  <mat-label>Select Player {{i+1}} : </mat-label>
                      <mat-select [disabled]="lockPersonFields" [formControlName]="'playerId'" [placeholder]="'Add Player'">
                      <mat-option *ngFor="let joueur of toppingList;" [value]="joueur.id">
                          {{joueur.name}}&nbsp; {{joueur.surname}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>

                <mat-form-field  appearance="fill" class="form-joueurs">
                  <mat-label>Winner ?</mat-label>
                  <mat-select [formControlName]="'win'">
                    <mat-option value="true">
                      Yes
                    </mat-option>
                    <mat-option value="false">
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="personForm.get('win')?.invalid">
                    The Field is <strong>mandatory *</strong>.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-joueurs">
                  <mat-label>Goals</mat-label>
                  <input type="number" matInput [formControlName]="'nombreButs'" min="0">
                  <mat-error *ngIf="personForm.get('nombreButs')?.invalid">
                    The Field is <strong>mandatory *</strong>.
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="form-joueurs">
                  <mat-label>Decisive passes</mat-label>
                  <input type="number" matInput [formControlName]="'passeD'" min="0">
                  <mat-error *ngIf="personForm.get('passeD')?.invalid">
                    The Field is <strong>mandatory *</strong>.
                  </mat-error>
                </mat-form-field>

                <button type="button" mat-raised-button color="primary" *ngIf="!isUpdate" style="width: 10px;height: 34px; margin-left: 10px;margin-right: 10px;margin-top: 10px;" class="ml-2 mr-2" (click)="addJoueur()"> + </button>
                <button type="button" mat-raised-button color="warn" style="width: 10px;height: 34px; margin-left: 10px;margin-right: 10px;margin-top: 10px;" class="mr-2 ml-2" *ngIf="i>0" (click)="removeJoueurs(i)"> - </button>
              </div>
          </ng-container>
      </ng-container>
</ng-container>
  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close('Save click')">Annuler</button>
  <button *ngIf="isUpdate" type="button" class="btn btn-primary" (click)="update()">Enregistrer</button>
  <button *ngIf="create && !isUpdate" [disabled]="!personForm.valid" type="button" class="btn btn-primary"
    (click)="createPerson()">Valider</button>
</div>
