<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> <b>Add Saison</b></h4>
  <i class="fa fa-times" (click)="close('Cross click')"></i>
</div>

<div class="modal-body">

  <form [formGroup]="saisonForm">
    <div class="form-row">
      <mat-form-field class="col-md-12" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="saisonForm.get('name')?.invalid">
          Le nom est <strong>obligatoire *</strong>.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">

      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Startdate</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker1" [formControlName]="'startDate'">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker1 [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="10"
          [touchUi]="false" [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <mat-form-field class="col-md-6" appearance="fill">
        <mat-label>Enddate</mat-label>
        <input matInput [ngxMatDatetimePicker]="picker" [formControlName]="'endDate'">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1" [stepMinute]="10"
          [touchUi]="false" [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
      </mat-form-field>
    </div>


  </form>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-warning" (click)="close('Save click')">Annuler</button>
  <button *ngIf="!create" type="button" class="btn btn-primary" (click)="update()">Enregistrer</button>
  <button *ngIf="create" [disabled]="!saisonForm.valid" type="button" class="btn btn-primary"
    (click)="createSaison()">Valider</button>
</div>
