/* You can add global styles to this file, and also import other style files */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-danger {
  cursor: auto;
}

a {
  cursor: pointer;
}

.select-saison {
  margin-bottom: 5px;
}

i {
  cursor: pointer;
}
