/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}





/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*/
body {
  min-height: 100vh;
  background: linear-gradient(to left, #dce35b, #45b649);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .saisons-block {
    margin-bottom: 150px;
  }

  .all-bloc {
    margin-top: -100px;
  }

  .matchs-block {
    margin-bottom: 150px;
  }

  .anyClass1 {
    height:300px;
    overflow-y: scroll;
  }

  .saison-detail {
    height: 300px;
    margin-top: -100px;
    margin-bottom: 60px;
  }

  .select-saison-saison {
    margin-left: -5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .saisons-block {
    margin-bottom: 150px;
  }

  .all-bloc {
    margin-top: -100px;
  }

  .matchs-block {
    margin-bottom: 150px;
  }

  .select-saison-saison {
    margin-left: -5px;
  }

}

.saisons-block {
  margin-top: 10px;
}




.anyClass {
  height:300px;
  overflow-y: scroll;
  background-color: #e6fde6;
}

.anyClass1 {
  height:500px;
  overflow-y: scroll;
}


.match-detail {
  height: 700px !important;
  margin-top: -150px;
}

.select-saison-saison {
  margin-left: -25px;
}

.matchs-block-inner1 {
  margin-bottom: 15px;
}

.small-date {
  font-size: 11px;
}

a {
  padding-bottom: 0px !important;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.nav-pills-custom {
  width: 250px auto;
  margin-left: -60px;
}

.all-bloc {
  margin-top: 10px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .all-bloc {
    margin-top: 10px;
  }

  .nav-pills-custom {
    width: 250px auto;
    margin-left: -60px;
  }

  .saisons-block a {
    width: 200px;
    margin-left: 15px !important;
  }
}
