<!-- Demo header-->
<section class="py-5 header">
  <div class="container py-4">
    <header class="text-center mb-5 pb-5 text-dark">
      <h1 class="display-4">ASB Football</h1>
      <h3 class="font-italic mb-1">Check saison overview of ASB Football
      </h3><br><br>

    </header>
    <br><br>

    <div class="row  text-center all-bloc">
      <div class="col-md-2 saisons-block  ">
        <b class="select-saison select-saison-saison">Select Saison</b> &nbsp; <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <div class=" anyClass nav flex-column nav-pills nav-pills-custom " id="v-pills-tab"><br>
          <!-- Tabs nav -->
          <div class=""  role="tablist" aria-orientation="vertical">
            <a class="nav-link mb-3  p-3 shadow active" id="v-pills-home-tab" [ngStyle]="{'background-color': saison.selected? '#45b649' : '', 'color': saison.selected? 'white' : ''}" (click)="getSaison(saison.matchIds, saison.id); changeColor(saison.id)"
              data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"
              *ngFor="let saison of saisons">
              <i class="fa fa-bullseye" aria-hidden="true"></i> &nbsp;
              <span class="font-weight-bold text-uppercase"> {{saison.name}} </span> &nbsp; &nbsp; <i *ngIf="signedIn" (click)="deleteSaison(saison.id)" class="fa fa-trash text-danger mr-2"></i> <br>
              <p class="small small-date"> {{saison.startDate | date:"yyyy"}} </p>
            </a>
          </div>
        </div> <br>
        <button type="button" class="btn btn-outline-success" *ngIf="signedIn" (click)="addSaison()" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Saison</button>
      </div>

      <div class="col-md-3 matchs-block text-center">
        <!-- Tabs content -->
        <div class="tab-content matchs-block-inner1" id="v-pills-tabContent">
          <app-sison-detail></app-sison-detail>
        </div>
        <button type="button" class="btn btn-outline-success" (click)="addMatch()"  *ngIf="pushed && signedIn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Match</button><br><br><br>
      </div>

      <div class="col-md-7 match-detail">
        <!-- Tabs content -->
        <div class="tab-content match-detail-card" id="v-pills-tabContent">
          <app-match-details></app-match-details>
        </div>
      </div>
    </div>
  </div>
</section>
